extends components/layout

block content
  section.hero
    div.hero__wrapper.container
      article.hero__content
        h1.hero__title.float-right Hello, I'm Mohsin.
        p.hero__designation.float-right Software Engineer
        p.hero__info.float-right I am a software engineer at 
          a(href='tajir.app', target='_blank') Tajir
          span . I love solving complex problems using modern computer technology with elegance. I also love playing football and gymnastics. I read lots of quality books because that fills my soul and mind with content.
        div.action__list
          a(href="#projects").btn.btn--ghost.float-up Projects
          a(href="/downloads/resume").btn.btn--primary.float-up Résumé
        ul.social__list
          li.social__list-item.float-up
            a(href='https://github.com/Mohsin-Ul-Islam' target='_blank').social__link
              i.social__icon.fab.fa-github
          li.social__list-item.float-up
            a(href='https://www.linkedin.com/in/mohsin-ul-islam-979a92188/' target='_blank').social__link
              i.social__icon.fab.fa-linkedin
          li.social__list-item.float-up
            a(href='https://twitter.com/mohsin_ninja' target='_blank').social__link
              i.social__icon.fab.fa-twitter

      figure.hero__figure.float-left
        img(src='/images/hero.svg').hero__image
      a(href='#projects').nav--guide.float-still-y
        div.arrow.arrow--down

  section.section#projects
    div.section__wrapper.container
      article.section__content
        h2.section__title Projects
        div.cards
          each project in projects
            div.card
              div.card__content
                h3.card__title=project.title
                datetime.card__date=project.date
                figcaption.card__info
                  p=project.description
                a(href=project.link target='_blank').btn.btn--ghost Visit Project

  section.section#education
    div.section__wrapper.container
      article.section__content
        h2.section__title Education
        div.experience__cards
          each education in educations
            div.experience__card
              div.card__content
                p.experience__date=education.date
                h3.experience__designation=education.institution
                p.experience__company=education.subjects


  section.section#experience
    div.section__wrapper.container
      article.section__content
        h2.section__title Experience
        div.experience__cards
          each experience in experiences
            div.experience__card
              div.card__content
                p.experience__date=experience.date
                h3.experience__designation=experience.designation
                p.experience__company=experience.company
  
  //- section.section#testimonials
  //-   div.section__wrapper.container
  //-     article.section__content
  //-       h2.section__title Testimonials
  //-       div.cards
  //-         div.card
  //-           div.card__content
  //-             i.fa.fa-quote-left.testimonials__quote
  //-             figcaption.card__info
  //-               p I met Mohsin-ul-Islam and requested him to spare some time to design the LSCSE website. He was extremely helpful in guiding me through the whole process. He did everything that I asked in a very professional and timely manner. I am delighted with his performance and would recommend him and his company.
  //-             div.testimonials__bottom
  //-               figure.testimonials__figure
  //-                 img(src='/images/azhan.jpg').testimonials__image
  //-               div.testimonials__details
  //-                 p.testimonials__author Muhammad Azhan
  //-                 p.testimonials__designation LSCSE, Founder &amp; Ex President
